@model SentimentAnalysis.Entitys.Data

@{
    ViewBag.Title = "Predicción de Sentimiento";
    var result = ViewBag.PredictionResult;
}

<h2>Predicción de Sentimiento</h2>

<form asp-controller="Account" asp-action="Login" method="post">
    <button type="submit" class="btn btn-primary">
        <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google Logo" style="width:20px; margin-right:10px;" />
       Login
    </button>
</form>



@if (result != null)
{
    <div class="alert alert-info">
        <strong>Resultado:</strong> @result
    </div>
}

@using (Html.BeginForm("Predict", "Prediction", FormMethod.Post))
{
    <div class="form-group">
        <label for="clean_text">Escribe un tweet para analizar:</label>
        <input type="text" name="clean_text" class="form-control" value="" />
        <span asp-validation-for="clean_text" class="text-danger"></span>
    </div>

    <input type="submit" class="btn btn-primary" value="Analizar Sentimiento" />
}

@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
}
